
  <h1 class="center"> Welcome to Your Phone Book</h1>
  <hr />
  <p class='btn light-blue lighten-4'><%= link_to 'New Contact', new_contact_path, class: 'black-text' %></p>



    <div class='row'>
      <% @contacts.each do |cont| %>
      <div class='col s4'>
        <div class='card panel'>
          <div class="card red darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= cont.name %></span>
                <p>
                  <%= cont.phone_number %><br>
                  <%= cont.email %><br>
                  <%= cont.address %><br>
                </p> 
            </div>
            <div class="card-action">
              <%= link_to 'Edit Contact', edit_contact_path(cont) %>
              <%= link_to 'Delete Contact', contact_path(cont), method: :delete %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
