<!DOCTYPE html>
<html>
<head>
  <title>PhoneBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar-fixed">
    <nav id="nav-fix">
      <a href="/" class="brand-logo">Phone Book</a>
      <div class='nav-wrapper'>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Add Contact', new_contact_path %>
        </ul>
      </div>
    </nav>
  </div>
  <div class='container'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>
</body>
</html>
